* { /* для всех элементов по ширине всего сайта */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* плавная прокрутка сайта(должен быть прописан выше тега body к тегу html)*/
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

img {
    max-width: 100%; /* изображение меняется вместе с карточкой при изменении размера контейнера */
}

.container {
    max-width: 1140px;
    margin-left: auto;  /* отступ слева авто для центра */
    margin-right: auto; /* отступ справа авто для центра */
    padding-left: 15px;
    padding-right: 15px;
}
.none {
    display: none !important; /* не дает переопределить свойство */
}
.header {
    position: relative;
    /* Определяем модель flex-box для блока .header */
    display: flex;
    flex-direction: column; /* Выстраиваем flex-элементы в колонку, основная ось - Y */
    justify-content: center; /* Выравнивание по основной оси */
    align-items: center; /* Выравнивание по поперечной оси */
    
    width: 100%;
    height: 100vh; /* view port высота */

    /* background-color: #556982;  закомментить если нужно изменить на другой фон(видео) */
    /* background-image: url("./../image/header/header-bg.jpg");   закомментить если нужно изменить на другой фон(видео) */
    background-size: cover; /* Изображение полностью заполняет блок без пустых областей */
    background-position: center; /* Изображение по центру */ 
}

.header-title {
    margin: 0; /* Внешний отступ для всех сторон элемента */
    margin-bottom: 25px; /* Отступ от заголовка вниз */
    font-weight: 700;
    font-size: 56px;
    line-height: 130%; /* 56*1.3=130% высота строки */
    text-align: center;
    color: #ffffff;
}

.header-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 0.2em; /* Расстояние между буквами */
    text-transform: uppercase; /* Верхний регистр, заглавные буквы */

    color: #FFFFFF; /*Цвет текста */
}

.header-arrow {
    width: 48px;
    height: 48px;
    /* background-color: red; */

    position: absolute;
    bottom: 30px;
    left: 50%;
    /* margin-left: -24px; */
    transform: translate(-50%,0); /* стрелочка по центру */
}

/* Portfolio */

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}
.portfolio-cards-wrapper {
    display: flex; /* карточки в ряд */
    flex-wrap: wrap; /* перенос на след строчку */
    justify-content: space-between; /* выравнивание по основной оси и распределяет свободное пространство */
}
.card {
    margin-bottom: 30px; /* отступы от карточек вниз */
    max-width: 540px;
    background-color: #fff;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35); /* тень для блока (ось х горизонт вправо,ось у вниз,радиус размытия тени (рджиби(сам цвет),прозрачность*/
    transition: transform 0.2s ease-in;
}

.card:hover {
    transform: translateY(-15px);
}

.card-link {
    padding: 20px;
    display: block;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.card-link:hover {
 color: rgb(39, 91, 236);
}

.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0; /* обнулиение нижнего отступа */
}
.card-img {
    margin-bottom: 20px;
}

.card-title { 
    margin: 0;/* Сброс отступов сверху снизу */
    margin-bottom: 13px; /* отступ вниз от заголовка */
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}
.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

/* Footer */
.footer {
    padding-top: 45px; /* Отступ в блоке футер вверх от  текста самый маленький */
    padding-bottom: 130px; /* Отступ в блоке футер вниз от текста самый маленький */
    background: #1E4776; /* Цвет фона футера */
    color: #fff;
}

.footer-row {
    display: flex; /* элементы в ряд */
    flex-direction: row; /* работает по умолчанию при написании флекс */
    justify-content: space-between; /* выравнивание по оси х, выравнивание */
}

.footer-col { /* размеры колонки в футере */
     min-width: 350px; /* размер <напишите мне> */
    flex-grow: 1; /* рост элемента flex */
}

.footer-copyright { /* ctrl shift 4 -сетка в фигма */
    color:#7E9EC9;
    line-height: 1.3; /* множитель высота строки (если 130%,то будет считаться как от 16рх 130%-некорректно) */
}

.footer-copyright-name {
    font-weight: 700;
    font-size: 28px; /* 1.3*28 */
    line-height: 130%;
    margin-bottom: 15px; /* отступ между абзацами */
}

.footer-copyright p {
    margin: 0; /* обнулили отступы */
    margin-bottom: 15px; /* на случай если абзацы с текстом */
    font-size: 16px; /* 1.3*16 */
    font-weight: 600;
}


.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 9px;
}

.footer-icons-row {
    display: flex; /* иконки в одну линию */
    align-items: center; /* выравнивание иконок вертикально по центру */
}

.footer-icons-row > * + * { /* все теги(*) на первом уровне вложенности(>)любые,а селектор + выбирает соседа  внутри блока icons-footer-row,первый уровень это ссылки */
    margin-left: 30px;
}

.footer-button { /* инлайн блок для кнопок */
    display: inline-block;
    height: 50px; /* высота кнопки, фиксированная высота */
    padding-left: 30px; /* отступы в кнопке */
    padding-right: 30px; /* отступы в кнопке */

    border: 3px solid #FFFFFF; /* рамка для кнопки (свойства по макету) */
    border-radius: 50px; /* скругления для рамки кнопки */

    color: #fff; /* цвет текста в кнопке */
    font-weight: 700; /* толщина текста */
    font-size: 16px; /* размер текста */
    line-height: 44px; /* высота строки внутри кнопки за минусом рамки по 3рх верх и низ=-6рх */
    text-transform: uppercase; /* трансформипуем в верхний регистр */
    text-decoration: none; /* убираем подчеркивание в кнопке */
    transition: all 0.2s ease-in;
}

.footer-button:hover {
    background-color: #fff;
    color: #1E4776;
}

.footer-contacts p {
    margin: 15px 0; /*15 сверху снизу,слева справа по 0 */
    font-size: 16px;
    line-height: 1.3; 
    color: #7E9EC9;
    max-width: 350px;
    margin-right: auto;
    margin-left: 0;
}

/* Project */

.project {
    padding: 80px 0 120px 0; /* отступы сверху снизу */
    text-align: center; /* расположение по центру */
}

.project-header {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
}

.project-img {
    margin-bottom: 70px; /* отступ от картинки вниз */
    transition: transform 0.2s ease-in; /* СВОЯ АНИМАЦИЯ */
}
.project-img:hover { /* СВОЯ АНИМАЦИЯ */
    transform: translateY(-15px);
}
.project-description {
    margin: 0 auto 60px;
    max-width: 730px;
}

.project-description p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.project-btn-back {
    display: inline-block;
    height: 60px; /* высота кнопки, фиксированная высота */
    padding-left: 30px; /* отступы в кнопке */
    padding-right: 30px; /* отступы в кнопке */

    border: 3px solid #275BEC; /* рамка для кнопки (свойства по макету) */
    border-radius: 50px; /* скругления для рамки кнопки */

    color: #275BEC; /* цвет текста в кнопке */
    font-weight: 700; /* толщина текста */
    font-size: 16px; /* размер текста */
    line-height: 54px; /* высота строки внутри кнопки за минусом рамки по 3рх верх и низ=-6рх */
    text-transform: uppercase; /* трансформипуем в верхний регистр */
    text-decoration: none; /* убираем подчеркивание в кнопке */
    transition: all 0.2s ease-in;
}

.project-btn-back:hover {
    background-color: #275BEC;
    color: #FFFFFF;
}
